<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

        {% if debug %}
            <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">
            </script>

            <script src="https://unpkg.com/react@15/dist/react-with-addons.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
        {% endif %}

        <title>VIT Timesheets</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
